@font-face {
  font-family: "Lorena";
  // font-style: bold;
  font-weight: 700;
  src: url("/font/Lorena.otf");
}

@font-face {
  font-family: "Lorena-Semi";
  font-style: bold;
  font-weight: 700;
  src: url("/font/Lorena-Semibold.otf");
}
@font-face {
  font-family: "Lorena-Bold";
  font-style: bold;
  font-weight: 700;
  src: url("/font/Lorena-Bold.otf");
}
