@import "../../styles/styles.scss";

.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 70px;
  backdrop input[type="checkbox"],
  .hamburger_lines {
    display: none;
  }

  .navbar_container {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: var(--bg-navbar);
    z-index: 101; // Ensure it overlays navbar
    margin: 0;

    .menu_items {
      padding-inline: 40px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      height: 100%;
      color: var(--text-primary);
      .nav_link {
        cursor: pointer;
      }
      @include breakPointMedium(md) {
        gap: 5px;
      }
    }
  }

  .nav_button {
    border: 2px solid var(--text-primary);
    padding-block: 3px;
    border-radius: 10px;
    padding-inline: 10px;
    // &:hover {
    //   opacity: 0.5;
    // }
    @include breakPointMedium(md) {
      padding-block: 3px;
      padding-inline: 5px;
      margin-bottom: 10px;
    }
  }

  @include breakPointMedium(md) {
    // background-color: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(5px);

    .navbar_container {
      display: block;
      position: absolute;
      height: 60px;
      background-color: var(--bg);
      align-items: center;

      input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 300;
        opacity: 0;
        cursor: pointer;
      }

      .hamburger_lines {
        display: block;
        height: 22px;
        width: 28px;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        .line {
          display: block;
          height: 2.5px;
          width: 100%;
          border-radius: 10px;
          background: white;
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.3s ease-in-out;
          @include breakPointMedium(md) {
            transform-origin: -10% 0%;
          }
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.3s ease-in-out;
          @include breakPointMedium(md) {
            transform-origin: -5% 100%;
          }
        }
      }

      .menu_items {
        background: rgba(26, 25, 25, 0.9);
        height: fit-content;
        width: 100vw !important;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        overflow-y: scroll;
        // padding-left: 100px;

        .nav_link {
          display: flex;
          padding: 20px;
          //   padding-bottom: 0;
          text-decoration: none;
          color: inherit;
          transition: 0.3s ease color;
          cursor: pointer;
          width: fit-content;
          justify-content: center;
          &:hover {
            opacity: 0.5;
          }
          @include breakPointMedium(md) {
            padding: 5px;
          }
        }
      }
    }

    input[type="checkbox"]:checked ~ .hamburger_lines .line1 {
      transform: rotate(45deg);
      color: red;
      background-color: red;
    }

    input[type="checkbox"]:checked ~ .hamburger_lines .line2 {
      transform: scaleY(0);
      color: red;
      background-color: red;
    }

    input[type="checkbox"]:checked ~ .hamburger_lines .line3 {
      transform: rotate(-45deg);
      color: red;
      background-color: red;
    }
  }

  &.open {
    .menu_items {
      transform: translate(0%);
    }
  }

  &.closed {
    .menu_items {
      @include breakPointMedium(md) {
        display: none;
      }
    }
  }
}

.logo {
  width: 80px;
  height: 80px;
  position: relative;
  top: 5px;
  cursor: pointer;
  &:hover {
    animation: pulse 0.5s ease-in-out infinite alternate;
    filter: drop-shadow(0 5px 10px black);
  }
  @include breakPointMedium(md) {
    width: 60px;
    height: 60px;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.row_reverse {
  display: flex;
  place-content: center space-between;
  align-items: center;
  width: 100%;

  @include breakPointMedium(md) {
    flex-direction: column;
  }
}

.item_container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 5px;
  @include breakPointMedium(md) {
    top: 0;
    flex-direction: column;
    gap: 0px;
  }
}

.navButtons {
  cursor: pointer;
}

.navButtons::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--bleached-silk-100, var(--text-primary));
  transition: width 0.3s;
  border-radius: 10px;
}

.navButtons:hover::after {
  width: 100%;
}

.line {
  border: 1px solid #9e9e9e;
  opacity: 0.2;
  border-radius: 10px;
  margin-top: 10px;
  @include breakPointMedium(md) {
    display: none;
  }
}

.check {
  display: none;
  @include breakPointSmall(sd) {
    display: back;
  }
}
